<h3>以下の内容で、送信する。</h3>

<%= form_with(model: @article, url: articles_path, local: true) do |form| %>
  <%= form.hidden_field :image %>
  <%= form.hidden_field :content %>
  <%= form.hidden_field :image_cache %>

  <p>image:<%= @article.image %></p>
  <p>コメント:<%= @article.content %></p>
  <%= form.submit  "登録する" %>
  <%= form.submit "戻る", name: 'back' %>
<% end %>
