<p>
  <strong>Image:</strong>
  <%= image_tag @article.image.url %>
</p>
  <p>
  <strong>Content:</strong>
  <%= @article.content %>
  </p>

<%= link_to '編集', edit_article_path(@article) %>
<%= link_to '削除', article_path(@article), method: :delete, data: { confirm: '本当に削除していいですか？'} %>
<%= link_to 'Back', articles_path %>